<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RBS Sandbox App - Java Edition</title>
</head>
<body>
    <h1>RBS first steps - Java Edition</h1>

    <form method="post" action="/button-a" th:if="${!showButtonB}">
        <button type="submit">Klickstu!</button>
        </form>

    <form method="post" action="/button-b" th:if="${showButtonB and !showMessage}">
        <button type="submit">Klickstu nochmal!</button>
    </form>

    <p th:if="${showMessage}">Na geht doch! 🎉</p>
</body>
</html>