<!DOCTYPE html>
<html>
<head>
    <title>RBS Sandbox App - JavaScript Edition</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script>
        function showButtonB() {
            document.getElementById('button-a').style.display = 'none';
            document.getElementById('button-b').style.display = 'block';
        }
        function showMessage() {
            document.getElementById('button-b').style.display = 'none';
            document.getElementById('message').style.display = 'block';
        }
        window.onload = function() {
            document.getElementById('button-a').style.display = 'block';
            document.getElementById('button-b').style.display = 'none';
            document.getElementById('message').style.display = 'none';
        }
    </script>
</head>
<body>
    <h1>RBS first steps - JavaScript Edition</h1>

    <button id="button-a" onclick="showButtonB()">Klickstu!</button>
    <button id="button-b" onclick="showMessage()">Klickstu nochmal!</button>
    <p id="message">Na geht doch! 🎉</p>
</body>
</html>